/*
AUTHOR: RYAN SAMARAJEEWA
DATE: 6 October 2015
*/
.audacity-img{
    height: 65%;
    width: 65%;
    margin-left: 120px;
}
audio {
  margin: 0px 50% 0px 34%;
  padding: 60px 0px 20px 0px;
}

.no-shadow{
  text-shadow: None
}
.img-caption{
  padding-top: 10px;
}

.log6-text{
  margin-left: 100px;
  margin-right: 100px;
}

.carousel-control, .carousel-control:active{
  opacity: 1.0;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;

}

.carousel-indicators .active{
    background-color: #ff7300;
    border: 1px solid #000;
}

.carousel-indicators li{
  border: 1px solid #000;
}

.img-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.darken{
  background-color: #444343;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 10px;
}

.log-6-carousel{
  width: 700px;
  height:400px;
  margin: 0 auto

}

.sideMenu{
  margin-top:16px;
}

.aboutDHUMBtn{
  margin-left: 30px;
}

.jumbotron{
  margin-bottom: 0px;
  background-image: url('img/peerj-cs-eniac.jpg');
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  padding-top: 40px;
  padding-bottom: 40px;
}

.heading{
    padding-left: 40px;
}

body{/*a selector*/
	font-family:sans-serif;/*property*/
	background-color:#E8E8E8;
}


a:link { /* unvisited link */
  text-decoration: none;
  color: #e33a3a;
}
a:visited { /* visited link */
  text-decoration: none;
  color: #e33a3a;
}
a:hover { /* mouse-over */
  text-decoration: underline;
  color: #f14800;
}
a:active { /* active link */
  text-decoration: underline;
  color: #900648;
}

a.my-name:link, a.my-name:visited{
  color: #00b67f;
}

a.my-name:hover{
  color: #01931c;
}

.content-padding{
  padding: 50px;
}

.subheading{
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(0, 0, 0, 0.70);
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
}

.padding{
  padding: 0px;
}

.log-content-para {
  padding-top: 25px;
  text-indent: 50px;
  line-height: 170%;
}


img {
  height: auto;
}

article {
padding:10px 0 10px 30px; /* Top, right, bottom, left */
}
aside {
padding:10px 0 10px 30px;
margin-bottom: 2px;
}


.log-content {
  padding:20px;
}

.fixed {
    position: fixed;
}

footer{
  text-align: center;
}
/* sidebar */
.bs-docs-sidebar{
    padding-left: 20px;
    /**margin-top: 20px;*/
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 5px 25px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
    color: #563d7c;
    text-decoration: none;
    background-color: transparent;
    border-left-color: #563d7c;
}
/* all active links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}

/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;
}
